<%- include('includes/header') %>
<br><br>
<div>
    <div>Add post</div>
    <form action="/posts" method="post">
        <input type="text" placeholder="Enter name" name="username"><br><br>
        <textarea name="content" id=""></textarea><br><br>
        <button type="submit">Submit</button>
    </form>
</div>

</body>
</html>
